<nz-layout>
  <nz-header style="display: flex;">
    <div class="logo">
      <h3 nz-typography style="color: lightgrey;">Text 2 Sql</h3>
    </div>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <app-answers-list></app-answers-list>
      <div class="question-form" nz-row [nzGutter]="16">
        <div nz-col nzSpan="20">
          <nz-input-group [nzSuffix]="textAreaClearTpl" 
            [nzSize]="'large'"
            class="ant-input-affix-wrapper-textarea-with-clear-btn">
            <textarea nz-input [(ngModel)]="searchText" placeholder="Search for queries on database"></textarea>
          </nz-input-group>
          <ng-template #textAreaClearTpl>
            <span
              nz-icon
              class="ant-input-clear-icon"
              nzTheme="fill"
              nzType="close-circle"
              *ngIf="searchText"
              (click)="searchText = ''"
            ></span>
          </ng-template>
        </div>
        <div nz-col nzSpan="4">
          <button nz-button nzType="primary" [disabled]="!searchText" (click)="generateResponse()">
            <span nz-icon nzType="search"></span>
          </button>
        </div>
      </div>
    </div>
  </nz-content>
  <nz-footer> Gen AI for Text-2-SQL </nz-footer>
</nz-layout>